<div class="jumbotron text-center">
        <div>
            <h3><u>Clients</u></h3>
            <input type="search" ng-model="Search"/> 
            <table border="true">
                <tr>
                    <th style="text-align: center;" width="50px">Sr.</th>
                    <th style="text-align: center;">ClientName</th>
                    <td width="20%"></td>
                    <td width="20%"></td>
                </tr>
                <tr ng-repeat="client in clients | filter : Search ">
                    <td>{{$index+1}}</td>
                    <td style="text-align: left; padding-left: 10px"><a href='#getClient/{{client.id}}'> {{client.id}} </a></td>
                    <td><a href='#updateClient/{{client.id}}'><img src="img/edit.png" title="Edit"></a></td>
                    <td width="20%"><a href="DeleteClient()"><img src="img/delete.png" title="Delete"> </a></td>
                </tr>
            </table>
        </div>
</div>
